.hero-section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.hero-section-title{

    padding: 0;
    line-height: 1em;
    color: var(--main-white);
    font-weight: 400;
    font-size: 7.5em;
}


.hero-section-img-container{
    position: relative;
    width: 35%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    


   
}
.hero-section-img-container >img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}



@media screen and (max-width : 768px){
    .hero-section-title{
        font-size: 3em;
    }
    .hero-section{
        height: 50vh;
    }
    
}