.team-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono';
    color: var(--main-white);
  
    gap: 10px;
}
.team-card-photo{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/teams/team-card-frame.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.team-card-photo >img{
    height: 80%;
    width: 80%;
    object-fit: cover;
}
.team-card-title{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}
.team-card-subtitle{
    font-size: 16px;
    font-weight: 500;
}
.team-card-socials{
    display: flex ;
    gap: 15px;
}